// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
%map-style {
    overflow: hidden;
    width: 100%;
    height: $height-map;
}
%copyright-font {
    @include setFont(13px, #fff, 400, $font-text);
}


#footer {
    position: relative;
    width: 100%;
    z-index: 5;
    
    .ft-top{
        background-color: $bg-footer;
    }
    .ft-flex {
        @include boxstyle($display: flex, $justify-content: space-between);
        padding: 30px 0;
        .ft-logo { 
            a{
                img{
                    
                }
            }
        }
        .ft-info {
            position: relative;
            width: percentage(430/1200);
        }



        .ft-bando {
        }

        .ft-fanpage {
            // width: percentage(270/1190);
            // .fanpageplace {
            //     height: 200px;
            //     overflow: hidden;
            // }
        }

        .ft-dknt{
            @include flex(2);
        }

        .ft-social{
            @include flex(1);
        }
        .ft-video{
        }

        .ft-baiviet {
            @include flex(1);
            ul {
                @extend %reset-list;
                border-top: 1px solid rgba(51, 51, 51, 0.3);
                padding-top: 10px;
                li {
                    margin-bottom: 7px;
                    @include setTagAHover(#fff, #ff0);
                    @include setFont(14px, #fff);
                    i{
                        margin-right: 5px;
                    }
                    a {
                        font-size: 14px;
                        position: relative;
                        @include boxstyle($display: flex, $align-items: flex-start);
                        &::before {
                            // content: "\f009";
                            // content: "";
                            // margin: 8px 7px 0 0;
                            // // @include setFont(7px, #fff, 700, $font-awesome);
                            // @include box(3px, 3px, 100%);
                            // background-color: #fff;
                        }
                    }
                }
            }
        }
    }

    .ft-company {
        // @include setFont(em(52), #fc0214, 400, $font-SFUBelleRegular );
        // line-height: 1;
        // a {
        //     color: #fc0214;
        // }
    }

    .ft-tit {
        position: relative;
        margin-bottom: 0;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        strong, span {
            @include setFont(15px, #fff, 700);
            &::after {
                // content: "";
                // @include box(40px, 3px);
                // @include absolute($bottom: -10px, $left: 0);
                // background-color: #fff;
            }
        }

        &::after {
            //content: "";
            // @include box(152px, 1px);
            // @include absolute($left: 0, $bottom: -11px);
            // border-bottom: 1px dashed #fff;
        }
    }
    .ft-right-bot{
        .ft-tit {
            border: 0;
        }
    }

    .ft-logo{
        // @include boxstyle($display: flex, $align-items: center);
        // width: 28.8%;
        // margin-bottom: 1em;
        // a{
        //     display: block;
        //     img{
        //         max-width: 400px;
        //     }
        // }
        
    }

    .copyright {
        position: relative;
        background: $bg-copyright; 
        
        .ft-wrap {
            min-height: 44px;
            @include boxstyle($display: flex, $justify-content: space-between, $align-items: center);
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            position: relative;
            &:before{
                content: "";
                @include box(100%, 1px);
                @include absolute($left: 0px, $top: 0px);
                background-color: rgba(51, 51, 51, 0.3); 
            }
            .text {
                @extend %copyright-font;
                margin: 5px 0;
            }

            ul.ft-thongke {
                @extend %reset-list;

                @include boxstyle($display: flex);
                li {
                    @extend %copyright-font;

                    @include boxstyle($display: flex, $align-items: center);
                    position: relative;
                    margin: 5px 0;

                    span {
                        margin-left: 4px;
                    }

                    & + li {
                        margin-left: 2em;

                        &::before {
                            content: "";
                            background-color: #fff;
                            @include box(1px, 12px);
                            @include absolute($left: -1em);
                        }
                    }
                }
            }
        }
    }
}
.codebando, .codebando iframe{
    // @extend %map-style;
}
.ft-logo{
    display: block;
    margin-bottom: 20px;
    img{

    }
}
.mxhft{
    @extend %mxhft-style;
}
.ft-right{
    @include flex(1);

    &-top{
        @include grid($display: flex, $justify-content: space-between);
        margin-bottom: 10px;
    }   
    &-bot{
        @include grid($display: flex, $justify-content: space-between);
    }   
}