.openBtn {
    border: none;
    cursor: pointer;
    z-index: 400;
    outline: none !important;
    background-color: transparent;
    @include transition(width .6s, border-radius .6s, background .6s, box-shadow .6s);
    @include absolute($right: -60px);
    @include setFont(17px, #fff, 700);
    @include box(36px, 32px);
    @include grid($display: inline-flex, $align-items: center, $justify-content: center);
    &::before{
        //content: "";
        // background-color: #dcdcdc;
        // @include box(1px, 24px);
        // @include absolute($left: -1em);
    }
    &:hover {
    }

}

#search {
    
    width: 100%;
    max-width: 250px;
    z-index: 50;
    display: none;
    margin: 0 auto;
    @include absolute($right: 0);
    &.hien {
        display: block;
    }

    .my-search {
        @include boxstyle($display: flex, $align-items: center, $justify-content: space-between);
        overflow: hidden;
        background-color: #fff; 
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        .keyword {
            @include flex(1);
            @include setFont(0.9em, #000);
            padding: 0px 10px;
            border: 0;
            height: 32px;
            box-shadow: none;
            background-color: transparent;
        }

        .btn_search {
            @include setFont(16px, #fff, 600, $font-barlow-semi-condensed );
            background-color: $theme-color;
            cursor: pointer;
            line-height: 32px;
            padding: 0 18px;
        }

        &:hover {
            input {
            }

        }

        input:focus {
        }

    }

}
