// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
%idx-tit {} 
%idx-tit-line {
    content: "";
    background: url($images-url + "idx-l.png");
    @include box(134px, 7px);
    @include relative($bottom: -5px);
}
.idx-tit {
    position: relative;
    @include grid($display: flex, $align-items: flex-end, $justify-content: space-between);
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
    padding-bottom: 14px;
    &>a{
        @include setFont(13px, $theme-color, 400);
        display: inline-block;
    }
    h4 {
        @include setFont(20px, #000, 700, $font-montserrat);
        text-transform: uppercase;
        margin: 0;
        img{
        }
        span, a {
            color: #000;
            display: inline-block;
            position: relative;
            &::after {
                content: "";
                background-color: $theme-color;
                @include box(50px, 3px);
                @include absolute($bottom: -16px, $left: 0);
            }
        }
    }
}

.thongtin{
    margin-bottom: 20px;
  &-flex{
    @include grid($display: flex);
  }
  &-item{
    width: 25%;
    a{
        @include grid($display: flex, $justify-content: center, $align-items: center);
        padding: 10px;
      figure{
        @include box(70px, 70px);
        @include grid($display: flex, $justify-content: center, $align-items: center);
        img{
            
        }
        margin-bottom: 0;
      }
      h4{
        @include flex(1);
        margin: 0 0 0 10px;
        @include setFont(16px, #fff, 700, $font-montserrat);
      }
      
    }
    &.item-1{
          background-color: #41bdee;
    }
    &.item-2{
      background-color: #069cd7;
    }
    &.item-3{
      background-color: #067cab;
    }
    &.item-4{
      background-color: #055574;
    }
  }
}